{% extends 'users/base.html' %}

{% block content %}
<div class="container">
    <form action="{% url 'blog:create' %}" method="POST">
        {% csrf_token %}
        <div class="input-field col s6">
            <input id="title" type="text" class="validate" name="title" required>
            <label for="title">Title</label>
          </div>
          <div class="input-field col s6">
            <textarea id="body" type="text" class="validate" name="body" required style='resize: none; height: 50vh;'></textarea>
            <label for="body">body</label>
          </div>
          <div class="input-field col s6">
            <input id="image" type="text" class="validate" name="image">
            <label for="image">Image URL</label>
          </div>
          <p>
            <label>
              <input type="checkbox" name="publish" />
              <span>Publish</span>
            </label>
          </p>
          <input type="submit" name="" id="" value="Submit">
    </form>
</div>

{% endblock %}