{% extends 'users/base.html' %}

{% block content %}
<h1>Top 5 Hoots of all times!!</h1>
{% for hoot in hoots %}
<div class="row">
    <div class="col s12 m7">
        <div class="card">
            <div class="card-image">
                {% if hoot.image %}
                <img src="{{hoot.image}}">
                {% endif %}
            </div>
            <div class="card-content">
            <span class="card-title"><a href="{% url 'blog:detail' hoot.id %}">{{ hoot.title }}</a></span>
            <p>{{ hoot.body }}</p>
        </div>
    <div class="card-action">
        <a href="{% url 'blog:like'%}?opinion=like&interest=hoot&id={{hoot.id}}">likes: {{ hoot.likes }}</a>
        <a href="{% url 'blog:like'%}?opinion=dislike&interest=hoot&id={{hoot.id}}">dislikes: {{ hoot.dislikes }}</a>
    </div>
</div>
</div>
</div>
{% endfor %}
{% endblock %}
